<?xml version="1.0"?>
<configuration>
    <sitecore>
      <settings>
        <setting name="Shrink.DatabaseToScan" value="master" />
        <setting name="Shrink.DownloadPath" value="$(dataFolder)/SitecoreShrink/" />
        
        <!-- Populate this setting with a pipe-separated list of Sitecore ID's of the items or folders of items you are referencing from code -->
        <setting name="Shrink.CodeReferencedItems" value="{A023015C-F487-4481-9479-9BA2100003FF}" />
        
        <!-- Mind that these paths are also being used by both Javascript files of the module, where they should be changed as well  -->
        <setting name="Shrink.MediaItemReportPath" value="sitecore\shell\client\YourApps\SitecoreShrink\DataStorage\mediaitems.json" />
        <setting name="Shrink.MediaLibraryReportPath" value="sitecore\shell\client\YourApps\SitecoreShrink\DataStorage\libraryreport.json" />
      </settings>
    </sitecore>
</configuration>
