<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseToScan" value="master"/>
    <!-- Mind that these paths are also being used by both Javascript files of the module, where they should be changed as well  -->
    <add key="MediaItemReportPath" value="/sitecore/shell/client/YourApps/SitecoreShrink/DataStorage/mediaitems.json"/>
    <add key="MediaLibraryReportPath" value="/sitecore/shell/client/YourApps/SitecoreShrink/DataStorage/libraryreport.json"/>
  </appSettings>
</configuration>